/*********************************************************KEYFRAMES***********************************************************/

@keyframes flap {
    from {transform: rotateX(0);}
    to {transform: rotateX(180deg);}
}

@keyframes cloud-parallax {
    from {transform: translate(75em, 3em);}
    to {transform: translate(-60em, 3em);}
}

/*@keyframes pipe-parallax {
    from {transform: translate3d(120em ,0em , 0em);}
    to {transform: translate3d(-10em ,0em , 0em);}
}*/

@keyframes bottom-parallax {
    from {transform: translate(-20em, 0em);}
    to {transform: translate(-50em, 0em);}
}

@keyframes test-parallax {
    from {transform: translate3d(120em ,0em , 0em);}
    to {transform: translate3d(-40em ,60em , 0em);}
}

/*from {transform: translate(120em, 0em);}
    to {transform: translate(-20em, 0em);}*/
/**********************TEST******************/

.TestingBox {
    position: absolute;
    height: 10em;
    width: 10em;
    background-color: yellow;

    /**transform-origin: top left;
    animation: test-parallax 10s infinite;**/

}
/***************************0-40-90******************************OBSTACLE***********************************************************/

/*.Obstacle {
    transform-origin: top left;
    animation: pipe-parallax 8s infinite;
    animation-timing-function: linear;
}*/
.Obstacle1-pipe1Up {
    position: fixed;
    top: 0em;
    height: 16em;
    width: 10em;

    border-radius: 0em 0em 10em 10em;
    background-color: #3DD715;
}

.Obstacle1-pipe1Low {
    position: fixed;
    top: 34em;
    height: 30em;
    width: 10em;

    border-radius: 10em 10em 0em 0em;
    background-color: #3DD715;
}

.Obstacle2-pipe2Up {
    position: fixed;
    top: 0em;
    height: 26em;
    width: 10em;

    border-radius: 0em 0em 10em 10em;
    background-color: #3DD715;
}

.Obstacle2-pipe2Low {
    position: fixed;
    top: 44em;
    height: 20em;
    width: 10em;

    border-radius: 10em 10em 0em 0em;
    background-color: #3DD715;

}

.Obstacle3-pipe3Up {
    position: fixed;
    top: 0em;
    height: 11em;
    width: 10em;

    border-radius: 0em 0em 10em 10em;
    background-color: #3DD715;
}

.Obstacle3-pipe3Low {
    position: fixed;
    top: 29em;
    height: 35em;
    width: 10em;

    border-radius: 10em 10em 0em 0em;
    background-color: #3DD715;

}

/*********************************************************CLOUD***********************************************************/

.Moving {
    transform-origin: top left;
    animation: cloud-parallax 18s infinite;
    animation-timing-function: linear;
}
.Moving-cloud {
    position: absolute;
    top: 5em;
    left: 50em;
    width: 6em;
    height: 4em;

    border-radius: 2.5em;
    background: white;
}

.Moving-cloud-circle1 {
    position: absolute;
    top: 0.7em;
    left: 3em;
    width: 4em;
    height: 2.5em;

    border-radius: 2em;
    background: white;
}

.Moving-cloud-circle2 {
    position: absolute;
    top: -0.5em;
    left: 0em;
    width: 4em;
    height: 2.5em;

    border-radius: 30em 30em 30em 1em;
    background: white;
}

.Moving-cloud-circle3 {
    position: absolute;
    top: 1.3em;
    left: -2em;
    width: 4em;
    height: 3em;

    border-radius: 40em;
    background: white;
}

/*********************************************************PLAYER***********************************************************/
.Player {
	position: absolute;
	top: 0;
	left: 0;
	width: 5em;
	height: 5em;
    border-radius: 0.3em 2em 2em 1.5em;
    border-style: outset;
    border-width: 0.1em;
	background: #DB7093;

}

.Player-wings {
    position: absolute;
    top: 2em;
    left: 0.5em;
    width: 2.5em;
    height: 1.2em;
    border-radius: 0.3em 0.3em 0.7em 0.7em;
    border-style: outset;
    border-width: 0.1em;

    background: Purple;
    transform-origin: top left;
    animation: 0.4s flap alternate infinite;
}

.Player-eyes {
    position: absolute;
    top: 1em;
    left: 4em;
    width: 1.4em;
    height: 1.4em;
    border-radius: 0.8em;
    border-style: outset;
    border-width: 0.1em;

    background: white;
}

.Player-eyes-pupils {
    position: absolute;
    top: 0.5em;
    left: 0.6em;
    width: 0.7em;
    height: 0.7em;
    border-radius: 0.5em;

    background: black;
}

.Player-beak-up {
    position: absolute;
    top: 3em;
    left: 4em;
    width: 1.3em;
    height: 0.5em;
    border-radius: 0.5em 0.5em 0em 0em;
    border-style: outset;
    border-width: 0.1em;
    border-color: yellow;
    background: Orange;
}

.Player-beak-down {
    position: absolute;
    top: 3.7em;
    left: 4em;
    width: 1.15em;
    height: 0.3em;
    border-radius: 0em 0em 0.5em 0.5em;
    border-width: 0.1em;
    border-color: yellow;
    background: Orange;
}

.Player-legs {
    position: absolute;
    top: 4.6em;
    left: 1.8em;
    width: 1.8em;
    height: 0.7em;
    border-radius: 0.9em 0.7em 0em 0em;
    border-style: outset;
    border-width: 0.1em;
    border-color: yellow;
    background: Orange;
}

/*********************************************************BOTTOM***********************************************************/

.Bottom {
    position: absolute;

    top: 90%;
    bottom: 0%;
    width: 170em;
    height:6em;

    background-image: url("http://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Color_icon_green.svg/1024px-Color_icon_green.svg.png");
    background-size: 3.8%;

    transform-origin: top left;
    animation: bottom-parallax 2s infinite;
    animation-timing-function: linear;
}

/*********************************************************SCOREBOARD***********************************************************/

.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 30em;
	margin-left: -20em;
	box-sizing: border-box;
	background: purple;
	text-align: center;
    border-radius: 0.5em;
	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
}

.Scoreboard-restart {
	margin-top: 2em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background: none;
	cursor: pointer;
}
.Scoreboard-restartText {
    font-family: 'Comic Sans MS', serif;
    font-size: 2.4em;
    color: white;
}

.Scoreboard-score {
    font-family: 'Comic Sans MS', serif;
    font-size: 12em;
    color: white;
}

.Scoreboard-text {
    font-family: 'Comic Sans MS', serif;
    font-size: 2.4em;
    padding: 0.4em;
    color: white;
}
body {
background: black;
}
.browsehappy {
margin: 0.2em 0;
background: ?#?ccc?;
color: #000;
padding: 0.2em 0;
}
.GameCanvas {
font-size: 10px;
position: absolute;
left: 50%;
top: 50%;
width: 102.4em;
height: 57.6em;
margin-left: -51.2em;
margin-top: -28.8em;
overflow: hidden;

background: url("http://www.psdgraphics.com/file/cloudy-sky-cartoon.jpg") no-repeat center center fixed;
-webkit-background-size: cover; /* For WebKit*/
-moz-background-size: cover;    /* Mozilla*/
-o-background-size: cover;      /* Opera*/
background-size: cover;         /* Generic*/
/**background-color: DodgerBlue;
background-image: url("http://kidsappcorner.com/wp-content/uploads/2013/06/background.jpg");**/
}